<div class="functions-show">

    {% set currentPath = path( app.request.attributes.get('_route'), app.request.attributes.get('_route_params') ) %}

    <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
        Tweet
    </a>

    <!-- Your share button code -->
    <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
    </div>

</div>