{% extends '::base.html.twig' %}

{% trans_default_domain 'WorldDashboardBundle' %}

{% block fos_user_content %}{% endblock fos_user_content %}
{% block breadcrumb %}{% endblock %}
{% block login_widget %}{% endblock %}

{% block menu %}

    <div class="ui menu">

        <a class="item" href="{{ path('world_dashboard_homepage') }}">
            <i class="home icon"></i> Home
        </a>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="item" href="{{ path('sonata_admin_dashboard') }}">
                <i class="mail icon"></i> Admin
            </a>
        {% endif %}

        <div class="right menu">
        </div>

    </div>

{% endblock %}

{% block slider %}{% endblock %}

{% block footer %}
    <div class="ui tertiary center aligned segment footer">
        <div><p><small>Trademark and Copyright Notice. WorldVolunteering and its related entities. All rights reserved
                    El uso de este sitio (incluso cualquier parte y componente) constituye su aceptación de estos Términos de Uso y Políticas de Privacidad.</small></p>
        </div>
        <div class="menuLine"></div>
        <div class="mint3logo"><img src="{{ asset('bundles/demidashboard/images/mint3logo.jpg') }}"><p><small>powered by:</small></p></div>
    </div>
{% endblock %}