{% extends 'WorldDashboardBundle::layout.html.twig' %}

{% trans_default_domain 'WorldDashboardBundle' %}

{% block breadcrumb %}{% endblock %}

{% block slider %}
    {% embed "WorldDashboardBundle:Dashboard:slider.html.twig" with { 'entities': slides } %} {% endembed %}
{% endblock %}

{% block body -%}

    <br>

    <div class="ui stackable center aligned one column grid">
        <div class="one column row column">
            {% embed "WorldToolBundle:Base:share.html.twig" %} {% endembed %}
        </div>
    </div>

    <h1 class="ui centered header">
        Centro de Voluntariado Guatemalteco -CVG-
    </h1>

    <hr/>
    <br>

    <div style="margin: 30px">

        <p style="text-align: justify;">
        Espacio de articulación, desarrollo y promoción de la actividad voluntaria en Guatemala.
        Aglutina a varias instituciones comprometidas con el voluntariado, como un servicio a las
        comunidades y el desarrollo del país desde sus propias vocaciones y recursos.
        Existe como esfuerzo en Guatemala desde el año 2006. Centra su actividad en la conformación
        de una Red de organizaciones de voluntariado y en la promoción del movimiento voluntario
        nacional, a través de distintas actividades como la celebración del Día Global del Esfuerzo
        Voluntario Juvenil, la Feria del Voluntariado y el Día Internacional del Voluntariado, entre otras.
        Como aporte concreto al país, el CVG enfoca todas sus actividades en la promoción de los
        Objetivos de Desarrollo del Milenio - ODMs:
        </p>

        <p>
            <img class="ui centered image" src="http://guatevoluntaria.org/images/xindex.png.pagespeed.ic.dQ9IODAx0W.jpg" />
        </p>
        <br>

        <h2 class="ui centered header">
            Misión:
        </h2>

        <p style="text-align: justify;">
        Promover, coordinar y articular el movimiento de voluntariado nacional por medio de actividades
        de promoción, divulgación, investigación, vinculación y fortalecimiento de las organizaciones que
        involucran voluntarios.
        </p>

        <br>

        <h2 class="ui centered header">
            Visión:
        </h2>

        <p style="text-align: justify;">
        Ser el referente de voluntariado a nivel nacional que promueve y fomenta en la sociedad en
        general responsabilidad e involucramiento en el desarrollo del país a través de una cultura de
        voluntariado.
        </p>

        <br>

        <h2 class="ui centered header">
            Objetivos:
        </h2>

        <p style="text-align: justify;">
            <ul style="list-style-type: disc;">
                <li>
                    Reconocer, promover y fortalecer la acción voluntaria a través de alianzas estratégicas y
                    el trabajo en red de las organizaciones que trabajan con voluntarios o voluntarias.
                </li>
                <li>
                    Ser un enlace en la información sobre la oferta y la demanda de voluntarios.
                </li>
                <li>
                    Coordinar, intercambiar y generar experiencias y conocimientos sobre voluntariado para
                    ofrecer a los voluntarios y a las organizaciones que trabajan con ellos elementos de
                    reflexión y análisis e instrumentos de trabajo para cumplir de mejor manera su misión.
                </li>
                <li>
                    Constituir espacios para la elaboración y promoción de política publicas relacionadas con
                    el voluntariado.
                </li>
                <li>
                    Fomentar, a través del voluntariado, una conciencia ciudadana generosa y participativa
                    para articular y fortalecer el tejido social de la sociedad guatemalteca.
                </li>
            </ul>
        </p>

    </div>

{%- endblock %}