{% if entities is not empty %}

    <br>
    <br>
    <br>
    <br>

    <h1 class="ui centered header">Volunteers</h1>

    <div class="ui stackable four column grid">
        {% for entity in entities %}
            <div class="column">
                <div class="ui segment">
                    <a href="{{ path('association_show', { 'id': entity.id }) }}">
                        <img src="{{ entity.imageWebPath | imagine_filter('thumb') }}" class="ui fluid image">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endif %}