{% extends 'WorldDashboardBundle::layout.html.twig' %}

{% trans_default_domain 'WorldDashboardBundle' %}

{% block breadcrumb %}{% endblock %}

{% block slider %}
    {% embed "WorldDashboardBundle:Dashboard:slider.html.twig" with { 'entities': slides } %} {% endembed %}
{% endblock %}

{% block body -%}

    <br>
    <div style="clear: both"></div>

    <div class="ui stackable center aligned one column grid">
        <div class="one column row">
            <div class="column">
                {% embed "WorldToolBundle:Base:share.html.twig" %} {% endembed %}
            </div>
        </div>
    </div>

    {% embed "WorldDashboardBundle:Dashboard:associations.list.html.twig" with { 'entities': associations } %} {% endembed %}

    <br>
    <div class="ui divider"></div>

    {% embed "WorldDashboardBundle:Dashboard:activities.list.html.twig" with { 'entities': activities } %} {% endembed %}

{%- endblock %}