{% extends 'WorldDashboardBundle::layout.html.twig' %}

{% trans_default_domain 'WorldDashboardBundle' %}

{% block breadcrumb %}{% endblock %}

{% block slider %}
    {% embed "WorldDashboardBundle:Dashboard:slider.html.twig" with { 'entities': slides } %} {% endembed %}
{% endblock %}

{% block body -%}

    {% embed "WorldDashboardBundle:Dashboard:news.html.twig" with { 'entities': news } %} {% endembed %}

    <br>
    <br>
    <br>
    <br>

    <h1 class="ui centered header">Activities</h1>

    <div class="ui stackable padded grid">
        <div class="three column row">
            <div class="column center aligned">
                <h2 class="ui header">Features</h2>
                <img class="ui centered small image" src="/images/wireframe/image.png">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim tellus quis enim mollis ornare. Pellentesque pellentesque purus non nulla tempus faucibus. Donec tellus mauris, accumsan sed magna id, viverra luctus sem. Cras nisi est, rhoncus eu malesuada vel, ultricies ut nisi. Sed ipsum ex, accumsan id lectus non, placerat malesuada felis. In luctus tincidunt leo, quis lacinia turpis faucibus in. Nullam arcu libero, pretium sed mi ac, venenatis tincidunt tellus.
                </p>
            </div>
            <div class="column center aligned">
                <h2 class="ui header">Statistics</h2>
                <img class="ui centered small image" src="/images/wireframe/image.png">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim tellus quis enim mollis ornare. Pellentesque pellentesque purus non nulla tempus faucibus. Donec tellus mauris, accumsan sed magna id, viverra luctus sem. Cras nisi est, rhoncus eu malesuada vel, ultricies ut nisi. Sed ipsum ex, accumsan id lectus non, placerat malesuada felis. In luctus tincidunt leo, quis lacinia turpis faucibus in. Nullam arcu libero, pretium sed mi ac, venenatis tincidunt tellus.
                </p>
            </div>
            <div class="column center aligned">
                <h2 class="ui header">Statistics</h2>
                <img class="ui centered small image" src="/images/wireframe/image.png">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim tellus quis enim mollis ornare. Pellentesque pellentesque purus non nulla tempus faucibus. Donec tellus mauris, accumsan sed magna id, viverra luctus sem. Cras nisi est, rhoncus eu malesuada vel, ultricies ut nisi. Sed ipsum ex, accumsan id lectus non, placerat malesuada felis. In luctus tincidunt leo, quis lacinia turpis faucibus in. Nullam arcu libero, pretium sed mi ac, venenatis tincidunt tellus.
                </p>
            </div>
        </div>
    </div>




    <br>
    <br>
    <br>
    <br>

    <h1 class="ui centered header">Volunteers</h1>

    <div class="ui stackable four column grid">
        <div class="column">
            <div class="ui segment">
                <img src="/images/avatar/large/elliot.jpg" class="ui fluid image">
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <img src="/images/avatar/large/matt.jpg" class="ui fluid image">
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <img src="/images/avatar/large/jenny.jpg" class="ui fluid image">
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <img src="/images/avatar/large/steve.jpg" class="ui fluid image">
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <img src="/images/avatar/large/stevie.jpg" class="ui fluid image">
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <img src="/images/avatar/large/veronika.jpg" class="ui fluid image">
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <img src="/images/avatar/large/justen.jpg" class="ui fluid image">
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <img src="/images/avatar/large/tom.jpg" class="ui fluid image">
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <img src="/images/avatar/large/helen.jpg" class="ui fluid image">
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <img src="/images/avatar/large/christian.jpg" class="ui fluid image">
            </div>
        </div>
    </div>
{%- endblock %}