.menu.yellow.line {
    background-color: #f0b64f;
    height: 12px;
    width: auto;
    /*margin-bottom: 10px;*/
}

.ui.menu {
    margin-bottom: 0;
    margin-top: 10px;
}

.ui.inverted.blue.menu, .ui.inverted.blue.pointing.menu .active.item::after {
    background-color: #002864;
}

.ui.follow.text {
    font-size: 120%;
    font-weight: bold;
}

h1, h2, h3, h4 {
    color: #002864 !important;
}

.ui.footer {
    background: none repeat scroll 0 0 #002864;
    border-top: 1px solid #dedede;
    color: #fff;
    height: 90px;
    margin: 0 auto;
    padding: 0 0 10px;
}

.ui.footer p {
    color: #fff;
    font-size: 9px;
    line-height: normal;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}


#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

.about-us {
    margin: 50px;
}