parameters:
    database_driver:   pdo_mysql
    database_host: db
    database_port: null
    database_name: %%database%%
    database_user: %%username%%
    database_password: %%password%%

    mailer_transport: gmail
    mailer_host: null
    mailer_user: randomuser@gmail.com
    mailer_password: randompassword

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    contact_mail: contactus@yourassociation.org